name: CI
on: [push, pull_request]

jobs:
  main:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental == 'nightly' }}
    strategy:
      matrix:
        julia-version: ['1.5']
        os: [ubuntu-latest]
        JULIA_FFTW_PROVIDER: ['MKL','FFTW']
      fail-fast: false
    env:
      PYTHON: python3

    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - run: >
          sudo apt-get install --no-install-recommends gfortran python3-setuptools python3-wheel gcc
          && pip3 install numpy && pip3 install Cython && pip3 install scipy
          && pip install numpy && pip install Cython && pip install scipy
          && wget https://lesgourg.github.io/class_public/class_public-2.9.4.tar.gz
          && tar -zvxf class_public-2.9.4.tar.gz && rm -r class_public-2.9.4.tar.gz
          && cd class_public-2.9.4 && make && cd python && python3 setup.py install --user
          && sudo apt-get update

      - uses: actions/cache@v1
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v1
        with:
          file: lcov.info
